/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This vertically centers the content */
    padding: 1.8rem 2.5rem;
    /* Slightly increased padding for a bigger navbar */
    background-color: #364e68;
    color: white;
    position: relative;
}

/* Hamburger Menu */
.hamburger-menu {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 1.2rem;
}

/* Logo Styling */
.logo {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Vertically and horizontally centers the image */
}

/* Logo Image Styling */
.logo img {
    width: 10.5rem;
    /* Increased logo size (approx. 168px) */
    height: auto;
    max-height: 4.5rem;
    /* Slightly increased max height */
}

/* Right-side icons (Language & Profile) */
.right-icons {
    display: flex;
    align-items: center;
}

.profile-icon {
    margin-left: 1.2rem;
    /* Added space between icons */
}

/* Mobile Menu Styling */
.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 25%;
    background-color: #364e68;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    z-index: 1000;
}

.menu-link {
    display: block;
    padding: 1.2rem;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-link:hover {
    background-color: #2a3c51;
}

/* Profile Menu Styling */
.profile-menu {
    position: absolute;
    top: 100%;
    right: 2rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.profile-button {
    display: block;
    background-color: #364e68;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.profile-button:hover {
    background-color: #2a3c51;
}

/* Language Menu Styling */
.language-menu {
    position: absolute;
    top: 100%;
    right: 2rem;
    background-color: #364e68;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.language-option {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.language-option .flag-icon {
    width: 1.5rem;
    /* Adjusted from 24px to 1.5rem */
    height: auto;
    margin-right: 0.5rem;
}

.language-option span {
    margin-left: 0.5rem;
}

.language-option:hover {
    background-color: #2a3c51;
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }

    .logo img {
        width: 8rem;
        /* Slightly larger logo for mobile */
        max-height: 3.5rem;
    }

    .profile-menu,
    .language-menu {
        right: 1rem;
    }

    .right-icons {
        font-size: 1.3rem;
    }

    .profile-button {
        padding: 0.75rem;
    }
}
