# Server Configuration
PORT=5000

# Database Configuration
MONGODB_URI=<mongodb-uri>

# JWT Configuration
JWT_SECRET=<jwt-secret>
JWT_EXPIRES_IN="3d"
JWT_ISSUER="propertyHub"
JWT_AUDIENCE="propertyHubApp"

# Google OAuth Configuration
GOOGLE_OAUTH_CLIENT_ID=<google-oauth-client-id>
GOOGLE_OAUTH_CLIENT_SECRET=<google-oauth-client-secret>
GOOGLE_OAUTH_SIGNUP_REDIRECT_URI=<google-oauth-signup-redirect-uri>  # Example: http://localhost:5000/api/auth/google/signup/callback
GOOGLE_OAUTH_SIGNIN_REDIRECT_URI=<your-google-oauth-signin-redirect-uri>  # Example: http://localhost:5000/api/auth/google/signin/callback

# Client Configuration (Frontend)
CLIENT_URI=<your-frontend-uri>  # Example: http://localhost:5173

# Node Environment
NODE_ENV="development"
